Hi, <strong>{{ delivery_man_name }}</strong>
<p>The order number: <strong>{{ id }}</strong> has been canceled due to the reason <strong>"{{ delivery_problem_description }}"</strong>.</p>
<small>
  <i>Order created at: {{ created_at }}</i> and <i>canceled at: {{ canceled_at }}</i>
</small>
